* {
  font-family: 'Raleway', sans-serif;  
  box-sizing: border-box;
  }

  body {
    height:max-content;
  }

.row-content {
    padding: 20px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.jumbotron {
  background-color: rgb(148, 198, 237);
  padding: 10px 0px;
  margin: 0;
}


h1 {
  font-family: 'Love Ya Like A Sister', cursive;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
}

p, a, li {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
}

.copyright {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: .8em;
}

header p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

footer {
  background-color: rgb(148, 198, 237);
  padding: 20px 0;
}

form {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

nav {
  background-color: rgb(148, 198, 237);
}