* {
    box-sizing: border-box;
  }

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.jumbotron {
  background-color: rgb(148, 198, 237);
  padding: 1px;
}


h2 {
  font-family: 'Love Ya Like A Sister', cursive;
}

p, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: black;
}

header p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

footer {
  background-color: rgb(148, 198, 237);
  padding: 20px 0;
}

nav {
  background-color: rgb(255, 213, 2);
  
}

form {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
